<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Detail TEST Page</title>
</head>
<body>
<h1> {{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action ="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type ="radio", name ="choice" id ="choice{{forloop.counter }}" value="{{choice.id  }}">
    <label for="choice{{forloop.counter  }}">{{choice.choice_text  }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
</body>
</html>
<!--
form 태그를 사용해 사용자가 답변항목을 선택하고 전달할 수 있도록 만들었음
사용자가 선택한 항목의 번호를 vote 뷰로 전달(action에 url템플릿 태그)
forloop.counter == 반복문의 반복횟수를 출력해주는 기능, 여기서 선택반 답변의 번호를
vote뷰에 [choice=번호] 형태로 전달
csrf_token은 CSRF 공격을 막기위한 수단 중 하나
==> 방금 서버로 들어온 요청이 사이트 내부에서 온 것이 맞는지 확인하는 용도
-->